@import '../../../styles/main.scss';

.card__image {
  display: block;
  width: 270px;
  height: 350px;
  object-fit: cover;
}

.card__desc {
  padding-top: 20px;
  width: 270px;
  min-height: 170px;
}

.card__title {
  margin-bottom: 10px;
  @include font ($weight: 500, $size: 18px, $height: 140%);
  color: $color-text-dark;
}

.card__buy {
  @extend %flex;
  margin-top: auto;
}

.card__price {
  display: block;
  @include font ($weight: 700, $size: 22px, $height: 130%);
}

.card__colors,
.card__sizes {
  margin-bottom: 10px;
}

.sizes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sizes__label {
  display: block;
  cursor: pointer;
}

.sizes__value {
  display: inline-block;
  min-width: 50px;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-info;
  @extend %transition;
}

.sizes__label:focus .sizes__value,
.sizes__label:hover .sizes__value {
  font-weight: 500;
  color: $color-text-dark;
}

.sizes__radio:checked ~ .sizes__value {
  font-weight: 500;
  color: $color-text-dark;
}

// .sizes__radio:focus ~ .sizes__value {
//   opacity: 0.7;
// }

