@import '../../../../styles/glodal.scss';

.button {
  display: inline-block;
  padding: 25px 15px;
  vertical-align: middle;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &_primary {
    background-color: $color-accent;
    @include border ($width: 1px, $color: $color-accent, $radius: 0);
    @extend %font-secondary;
    color: $color-text-dark;
    font-size: 13px;

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      background-color: transparent;
      color: $color-light;
    }
  }

  &_transparent {
    background-color: transparent;
    @include border ($width: 1px, $color: $color-light, $radius: 0);
    padding: 15px;
    color: $color-light;
    font-size: 14px;

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      background-color: $color-light;
      color: $color-text-dark;
    }
  }
}