%transition {
  transition: all 0.3s ease;
}

%font-primary {
  font-family: "Roboto", Arial, sans-serif;
}

%font-secondary {
  font-family: "Press Start 2P", Arial, sans-serif;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

%hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%custom {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

%main-title {
  @extend %font-secondary;
  @include font($weight: 700, $size: 25px, $height: 140%);
  text-transform: uppercase;
  margin-bottom: 10px;
}

%subtitle {
  @include font ($weight: 300, $size: 16px, $height: 100%);
  color: $color-info;
}