$color-light: #ffffff;
$color-dark: #000000;
$color-background: #272727;
$color-accent: #9eff00;
$color-text-light: #b9b9b9;
$color-text-dark: #222222;
$color-error: #ff4d00;
$color-info: #9d9d9d;
$color-caption: #737373;

// phone colors
$phone-blue: #73b6ea;
$phone-yellow: #ffff00;
$phone-green: #8be000;
$phone-natural: #e1c699;
$phone-black: #000000;
$phone-pink: #ef6292;
$phone-purple: #d24dff;