@import '../../../styles/glodal.scss';

.card {
  @extend %transition;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.02);
    }
  }
}

.image {
  display: block;
  width: 270px;
  height: 350px;
  object-fit: cover;
}

.desc {
  padding-top: 20px;
  width: 270px;
  min-height: 170px;
}

.title {
  margin-bottom: 10px;
  @include font ($weight: 500, $size: 18px, $height: 140%);
  color: $color-text-dark;
}

.buy {
  @extend %flex;
  margin-top: auto;
}

.price {
  display: block;
  @include font ($weight: 700, $size: 22px, $height: 130%);
}

.colors,
.sizes {
  margin-bottom: 10px;
}

.wrapper {
  button {
    font-size: 11px;
    padding: 15px;
    @extend %dark-text;
  }
}