@import '../../../styles/glodal.scss';

.card {
  @extend %transition;

  &:hover {
    transform: scale(1.02);
  }
}

.card__image {
  display: block;
  width: 270px;
  height: 350px;
  object-fit: cover;
}

.card__desc {
  padding-top: 20px;
  width: 270px;
  min-height: 170px;
}

.card__title {
  margin-bottom: 10px;
  @include font ($weight: 500, $size: 18px, $height: 140%);
  color: $color-text-dark;
}

.card__buy {
  @extend %flex;
  margin-top: auto;
}

.card__price {
  display: block;
  @include font ($weight: 700, $size: 22px, $height: 130%);
}

.card__colors,
.card__sizes {
  margin-bottom: 10px;
}

