@import '../../styles/glodal.scss';

.catalog {
  @extend %container;
}

.top {
  margin-bottom: 50px;
  max-width: 74%;
  margin-left: auto;
  text-align: center;
}

.title {
  @extend %main-title;
}

.subtitle {
  @extend %subtitle;
}

.content {
  display: grid;
  grid-template-columns: 290px 1fr;
  align-items: flex-start;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 65px 30px;
  margin: 0 0 70px;
}

.sort {
  display: flex;
  margin-bottom: 30px;
}