@import '../../../styles/glodal.scss';

.sizes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  display: block;
  cursor: pointer;
}

.radio {
  @extend %custom;
}

.value {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-info;
  @extend %transition;
}

.label:focus .value,
.label:hover .value {
  font-weight: 500;
  color: $color-text-dark;
}

.radio:checked ~ .value {
  font-weight: 500;
  color: $color-text-dark;
}