@import '../../../styles/glodal.scss';

.sizes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sizes__label {
  display: block;
  cursor: pointer;
}

.sizes__radio {
  @extend %custom;
}

.sizes__value {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-info;
  @extend %transition;
}

.sizes__label:focus .sizes__value,
.sizes__label:hover .sizes__value {
  font-weight: 500;
  color: $color-text-dark;
}

.sizes__radio:checked ~ .sizes__value {
  font-weight: 500;
  color: $color-text-dark;
}