@import '../../../styles/glodal.scss';

.header {
  background-color: $color-background;
}

.wrapper {
  @include flex(30px);
  @extend %container;
  padding-top: 23px;
  padding-bottom: 23px;

  @media (max-width: 577px) {
    flex-direction: column;
    gap: 10px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  @extend %font-secondary;

  img {
    width: 40px;
    height: 40px;
  }
}

.title {
  font-size: 18px;
  color: $color-light;

  @media (max-width: 769px) {
    font-size: 16px;
  }
}

.search {
  margin-left: 200px;
  margin-right: auto;

  @media (max-width: 1200px) {
    margin-left: 100px;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}