@import '../../../styles/glodal.scss';

.header {
  background-color: $color-background;
}

.header__wrapper {
  @include flex(30px);
  @extend %container;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header__title {
  @extend %hidden;
}