@import '../../../../styles/glodal.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  @extend %font-secondary;
}

.logo__img {
  width: 40px;
  height: 40px;
}

.logo__text {
  font-size: 18px;
  color: $color-light;
}