@import '../../../../styles/glodal.scss';

.form {
  padding: 0 25px 60px;
  background-color: $color-background;
  color: $color-light;
}

.title {
  @extend %font-secondary;
  @include font ($size: 16px, $height: 100%);
  text-transform: uppercase;
  padding: 25px;
  padding-left: 0;
  margin-bottom: 25px;
  border-bottom: 4px dashed $color-light;
}

.submit {
  width: 100%;
  margin-bottom: 15px;
}

.reset {
  width: 160px;
}